/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color-page: #fff1f7;
  --heading-color: #ffc2e6;
  --accent-color: #FF8DCB;
  --backroung-image: url(../images/cover-image-light.png);
  --text-color-accent: #FF8DCB;
  --hover-color-button: rgba(50, 49, 45, 0.4);
  --text-color-main: #353430;
  --color-accent-element: #353430;
}


.theme-light .header__dark-decorated::before {
  display: none;
}

.theme-light .header__dark-decorated::after {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-colo-page: #fff1f7;
    --heading-color: #ffc2e6;
    --accent-color: #FF8DCB;
    --backroung-image: url(../images/cover-image-light.png);
    --hover-color-button: rgba(50, 49, 45, 0.4);
    --text-color-main: #353430;
    --text-color-accent: #FF8DCB;
    --color-accent-element: #353430;
  }

  .header__dark-decorated::before {
    display: none;
  }
  
  .header__dark-decorated::after {
    display: none;
  }
}
